<!-- onboarding.component.html -->

<div class="flex flex-row-reverse items-center justify-between h-screen">
  <!-- Left side with big image -->
  <div class="flex-shrink-0">
    <img
      src="../../../assets/images/Onboarding-Vector2.jpg"
      alt="Onboarding Image"
      class="w-auto h-screen"
    />
  </div>

  <!-- Right side with title, text, and button -->
  <div class="ml-20 flex flex-col gap-5 w-fit px-10">
    <h1 class="text-4xl font-bold mb-4">
      Onthullen van inzichten, het opbouwen van veerkracht
    </h1>
    <p class="text-lg text-gray-600 w-fit">
      💙 Bedankt voor het lid worden van de HealthPulse-community! 💙
      <br />
      <br />
      Uw deelname werpt niet alleen licht op kritieke kwesties, maar draagt ook
      bij aan de verbetering van de gezondheidszorg wereldwijd. Navigeer door
      ons gebruiksvriendelijke dashboard om enquête-opties te verkennen, op de
      hoogte te blijven van positief nieuws en de krachtige impact te zien die
      uw stem heeft op de resultaten van de gezondheidszorg.
    </p>

    <!-- Button to navigate to the next onboarding page -->
    <button
      class="bg-violet-400 text-white font-bold py-2 px-6 rounded-md mt-4 w-fit"
      (click)="navigateToNextPage()"
    >
      Next
    </button>
  </div>
</div>
