<div class="w-fit">
  <!-- Article 3 - Horizontal Card -->
  <a routerLink="/news-article" class="w-fit">
    <div
      class="news-card relative bg-yellow-500 text-white p-0 rounded-md w-full h-64 overflow-hidden shadow-md shadow-gray-500 hover:border-violet-400 hover:border-4 transition duration-300 ease-in-out"
    >
      <img
        src="../../../assets/images/pexels-cottonbro-studio-7578802.jpg"
        alt=""
        class="w-full h-full object-cover"
      />
      <div
        class="absolute bottom-0 text-black left-0 right-0 bg-white bg-opacity-75 p-4"
      >
        <h3 class="text-xl font-semibold mb-3 line-clamp-2">
          Van Data tot Actie: Hoe Feedback van Enquêtes Gezondheidsbeleid
          Vormgeeft
        </h3>
        <p class="text-sm">
          Verken de tastbare resultaten van het enquêteprogramma terwijl het
          data omzet in actie...
        </p>
      </div>
    </div>
  </a>
</div>
