<!-- homepage.component.html -->
<div class="w-full p-4 flex flex-col justify-start gap-2">
  <!-- Header -->
  <div class="px-4">
    <div class="p-4 text-white bg-violet-400 w-full rounded-md">
      <h2 class="text-3xl font-bold">Home</h2>
    </div>
  </div>
  <div class="flex justify-between">
    <!-- Left Section -->
    <!-- Welcome Card -->
    <div class="welcome-card-container flex flex-col justify-between w-full">
      <div class="flex-1 p-4 flex-col gap-10 justify-between w-full rounded-lg">
        <app-welcome-card></app-welcome-card>
      </div>
    </div>
    <!-- Right Section -->
    <!-- Calendar -->
    <app-calendar></app-calendar>
  </div>

  <!-- Main Content -->
  <div class="mt-4 flex justify-between">
    <!-- Main Page Cards -->
    <div class="flex flex-wrap gap-0.5 w-full">
      <!-- Surveys Card -->
      <div class="flex-grow w-fit p-3 group">
        <a
          routerLink="/surveys"
          class="w-full h-full bg-white group-hover:shadow-violet-400 transition duration-300 shadow-lg rounded-xl p-2 flex flex-col items-center justify-center"
        >
          <img
            class="w-80 h-auto rounded-xl shadow-lg mb-8"
            src="../../../assets/images/celpax-1Lf5Adh9SCg-unsplash.jpg"
          />
          <div
            class="text-center text-slate-700 text-2xl font-normal leading-6 mb-4"
          >
            Onderzoeken
          </div>
          <div
            class="text-center text-slate-500 text-base font-normal leading-snug mb-8 w-72"
          >
            Neem deel aan ons laatste onderzoek om uw inzichten te delen over de
            lopende uitdagingen waarmee zorgverleners worden geconfronteerd te
            midden van personeelstekorten.
          </div>
          <div
            class="bg-violet-400 w-full h-20 px-2 left-0 top-[422px] rounded-bl-lg rounded-br-lg justify-between items-center inline-flex"
          >
            <div class="text-white text-base font-normal leading-snug">
              Inzichten
            </div>
            <div class="flex items-center gap-1">
              <div class="w-4 h-4 text-white">
                <i class="fa-solid fa-tag"></i>
              </div>
              <div class="text-white text-sm font-normal leading-tight">
                Betrokkenheid
              </div>
            </div>
          </div>
        </a>
      </div>
      <!-- Results Card -->
      <div class="flex-grow w-fit p-3 group">
        <a
          routerLink="/results"
          class="w-full h-full bg-white group-hover:shadow-violet-400 transition duration-300 rounded-xl shadow-lg p-2 flex flex-col items-center justify-center"
        >
          <img
            class="w-80 h-auto rounded-xl shadow-lg mb-8"
            src="../../../assets/images/pexels-pixabay-265087.jpg"
          />
          <div
            class="text-center text-slate-700 text-2xl font-normal leading-6 mb-9"
          >
            Resultaten
          </div>
          <div
            class="text-center text-slate-500 text-base font-normal leading-snug mb-8 w-72"
          >
            Verken gedetailleerde inzichten en trends uit recente onderzoeken.
            Begrijp de meest dringende uitdagingen en volg verbeteringen.
          </div>
          <div
            class="bg-violet-400 w-full h-20 px-2 left-0 top-[422px] rounded-bl-lg rounded-br-lg justify-between items-center inline-flex"
          >
            <div class="text-white text-base font-normal leading-snug">
              Analyse
            </div>
            <div class="flex items-center gap-1">
              <div class="w-4 h-4 text-white">
                <i class="fa-solid fa-tag"></i>
              </div>
              <div class="text-white text-sm font-normal leading-tight">
                Patronen
              </div>
            </div>
          </div>
        </a>
      </div>
      <!-- How are you helping Card -->
      <!-- <div class="flex-grow w-fit p-3 group">
        <a
          routerLink="/news"
          class="w-full h-fit bg-white group-hover:shadow-violet-400 transition duration-300 rounded-xl shadow-lg p-2 flex flex-col items-center justify-center"
        >
          <img
            class="w-80 h-auto rounded-xl shadow-lg mb-8"
            src="../../../assets/images/pexels-karolina-grabowska-8538867.jpg"
          />
          <div
            class="text-center text-slate-700 text-2xl font-normal leading-6 mb-4"
          >
            Hoe help je?
          </div>
          <div
            class="text-center text-slate-500 text-base font-normal leading-snug mb-8 w-64"
          >
            Zie hoe uw deelname aan enquêtes u en andere zorgverleners in het hele land helpt.
          </div>
          <div
            class="bg-violet-400 w-full self-end h-20 px-2 left-0 top-[422px] rounded-bl-lg rounded-br-lg justify-between items-center inline-flex"
          >
            <div class="text-white text-base font-normal leading-snug">
              Inzichten
            </div>
            <div class="flex items-center gap-1">
              <div class="w-4 h-4 text-white">
                <i class="fa-solid fa-tag"></i>
              </div>
              <div class="text-white text-sm font-normal leading-tight">
                Betrokkenheid
              </div>
            </div>
          </div>
        </a>
      </div> -->
      <!-- Support Card -->
      <div class="flex-grow w-fit p-3 group">
        <a
          routerLink="/support"
          class="w-full h-full bg-white group-hover:shadow-violet-400 transition duration-300 rounded-xl shadow-lg p-2 flex flex-col items-center justify-center"
        >
          <img
            class="w-80 h-auto rounded-xl shadow-lg mb-8"
            src="../../../assets/images/pexels-yan-krukau-8867482.jpg"
          />
          <div
            class="text-center text-slate-700 text-2xl font-normal leading-6 mb-9"
          >
            Ondersteuning
          </div>
          <div
            class="text-center text-slate-500 text-base font-normal leading-snug mb-8 w-72"
          >
            Toegang tot tools, tips en alle andere vragen die u mogelijk heeft
            over ons platform. Help ons uw ervaring te verbeteren.
          </div>

          <div
            class="bg-violet-400 w-full h-20 px-2 left-0 top-[422px] rounded-bl-lg rounded-br-lg justify-between items-center inline-flex"
          >
            <div class="text-white text-base font-normal leading-snug">
              Middelen
            </div>
            <div class="flex items-center justify-evenly gap-1">
              <div class="w-4 h-4 text-white self-start">
                <i class="fa-solid fa-tag"></i>
              </div>
              <div
                class="text-white text-sm font-normal self-center leading-tight"
              >
                Ondersteuning
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="flex-grow w-full p-3 group">
        <app-news-card></app-news-card>
      </div>
    </div>
    <!-- Available Surveys -->
    <div
      class="w-fit h-96 flex-col self-start justify-start items-start gap-2.5 inline-flex mr-3"
    >
      <div class="w-48 justify-between items-center inline-flex">
        <div class="text-black text-base font-normal">
          Beschikbare Onderzoeken
        </div>
        <a
          routerLink="/surveys"
          class="w-auto h-3.5 text-right text-neutral-400 text-xs font-normal hover:text-black transition duration-300"
        >
          Bekijk alles
        </a>
      </div>
      <div class="flex flex-col gap-8 group">
        <a
          [routerLink]="['/individual-survey', 'monthly']"
          class="w-48 h-24 relative shadow rounded-lg"
          ><div
            class="flex flex-col justify-between items-center w-48 h-28 left-0 top-0 absolute bg-violet-200 rounded-lg shadow-lg hover:bg-violet-400 transition duration-300"
          >
            <div
              class="left-[23px] top-[22px] absolute text-white text-lg font-semibold"
            >
              Maandelijks Onderzoek
            </div>
            <div
              class="left-[23px] top-[80px] absolute text-white text-xs font-medium"
            >
              40 min.
            </div>
          </div>
          <!-- ... -->
        </a>
        <a
          [routerLink]="['/individual-survey', 'biannual']"
          class="w-48 h-24 relative shadow rounded-lg"
        >
          <div
            class="flex flex-col justify-between w-48 h-28 left-0 top-0 absolute bg-violet-200 rounded-lg shadow-lg hover:bg-violet-400 transition duration-300"
          >
            <div
              class="left-[23px] top-[22px] absolute text-white text-lg font-semibold"
            >
              Halfjaarlijks Onderzoek
            </div>
            <div
              class="left-[23px] top-[80px] absolute text-white text-xs font-medium"
            >
              12 min.
            </div>
          </div>
          <!-- ... -->
        </a>
        <a
          [routerLink]="['/individual-survey', 'weekly']"
          class="w-48 h-24 relative shadow rounded-lg"
        >
          <div
            class="flex flex-col justify-between w-48 h-28 left-0 top-0 absolute bg-violet-200 rounded-lg shadow-lg hover:bg-violet-400 transition duration-300"
          >
            <div
              class="left-[23px] top-[22px] absolute text-white text-lg font-semibold"
            >
              Wekelijks Onderzoek
            </div>
            <div
              class="left-[23px] top-[80px] absolute text-white text-xs font-medium"
            >
              6 min.
            </div>
          </div>
          <!-- ... -->
        </a>
        <a
          [routerLink]="['/individual-survey', 'biannual']"
          class="w-48 h-24 relative shadow rounded-lg"
        >
          <div
            class="flex flex-col justify-between w-48 h-28 left-0 top-0 absolute bg-violet-200 rounded-lg shadow-lg hover:bg-violet-400 transition duration-300"
          >
            <div
              class="left-[23px] top-[22px] absolute text-white text-lg font-semibold"
            >
              Halfjaarlijks Onderzoek
            </div>
            <div
              class="left-[23px] top-[80px] absolute text-white text-xs font-medium"
            >
              30 min.
            </div>
          </div>
          <!-- ... -->
        </a>
      </div>
    </div>
  </div>
</div>
