<!-- homepage.component.html -->
<div class="w-full">
  <div class="flex justify-between mb-8">
    <!-- Left Section -->
    <div class="flex flex-col justify-between w-fit">
      <div class="flex-1 p-4 flex-col gap-20 justify-between w-fit rounded-lg">
        <app-welcome-card></app-welcome-card>
      </div>
    </div>
    <!-- Right Section -->
    <!-- Calendar -->
    <app-calendar></app-calendar>
  </div>

  <!-- Main Content -->
  <div class="mt-4 flex justify-between">
    <!-- Main Page Cards -->
    <div class="flex flex-wrap gap-0.5 w-full">
      <!-- Surveys Card -->
      <div class="flex-grow w-fit p-3 group">
        <a
          href="/surveys"
          class="w-full h-fit bg-white group-hover:shadow-violet-400 transition duration-300 shadow-lg rounded-xl p-2 flex flex-col items-center justify-center"
        >
          <img
            class="w-80 h-auto rounded-xl shadow-lg mb-8"
            src="../../../assets/images/celpax-1Lf5Adh9SCg-unsplash.jpg"
          />
          <div
            class="text-center text-slate-700 text-2xl font-normal leading-6 mb-4"
          >
            Surveys
          </div>
          <div
            class="text-center text-slate-500 text-base font-normal leading-snug mb-8 w-64"
          >
            Participate in our latest survey to share your insights on the
            ongoing challenges faced by healthcare workers amid staff shortages
          </div>
          <div
            class="bg-violet-400 w-full h-20 px-2 left-0 top-[422px] rounded-bl-lg rounded-br-lg justify-between items-center inline-flex"
          >
            <div class="text-white text-base font-normal leading-snug">
              Insights
            </div>
            <div class="flex items-center gap-1">
              <div class="w-4 h-4 text-white">
                <i class="fa-solid fa-tag"></i>
              </div>
              <div class="text-white text-sm font-normal leading-tight">
                Engagement
              </div>
            </div>
          </div>
        </a>
      </div>
      <!-- Results Card -->
      <div class="flex-grow w-fit p-3 group">
        <a
          href="/results"
          class="w-full h-fit bg-white group-hover:shadow-violet-400 transition duration-300 rounded-xl shadow-lg p-2 flex flex-col items-center justify-center"
        >
          <img
            class="w-80 h-auto rounded-xl shadow-lg mb-8"
            src="../../../assets/images/pexels-pixabay-265087.jpg"
          />
          <div
            class="text-center text-slate-700 text-2xl font-normal leading-6 mb-4"
          >
            Results
          </div>
          <div
            class="text-center text-slate-500 text-base font-normal leading-snug mb-8 w-64"
          >
            Explore detailed insights and trends from recent surveys. Understand
            the most pressing challenges and track improvements.
          </div>
          <div
            class="bg-violet-400 w-full h-20 px-2 left-0 top-[422px] rounded-bl-lg rounded-br-lg justify-between items-center inline-flex"
          >
            <div class="text-white text-base font-normal leading-snug">
              Analytics
            </div>
            <div class="flex items-center gap-1">
              <div class="w-4 h-4 text-white">
                <i class="fa-solid fa-tag"></i>
              </div>
              <div class="text-white text-sm font-normal leading-tight">
                Patterns
              </div>
            </div>
          </div>
        </a>
      </div>
      <!-- How are you helping Card -->
      <div class="flex-grow w-fit p-3 group">
        <a
          href="/news"
          class="w-full h-fit bg-white group-hover:shadow-violet-400 transition duration-300 rounded-xl shadow-lg p-2 flex flex-col items-center justify-center"
        >
          <img
            class="w-80 h-auto rounded-xl shadow-lg mb-8"
            src="../../../assets/images/pexels-karolina-grabowska-8538867.jpg"
          />
          <div
            class="text-center text-slate-700 text-2xl font-normal leading-6 mb-4"
          >
            How are you helping?
          </div>
          <div
            class="text-center text-slate-500 text-base font-normal leading-snug mb-8 w-64"
          >
            See how your participation in surveys is helping you and other
            healthcare workers all around the country.
          </div>
          <div
            class="bg-violet-400 w-full self-end h-20 px-2 left-0 top-[422px] rounded-bl-lg rounded-br-lg justify-between items-center inline-flex"
          >
            <div class="text-white text-base font-normal leading-snug">
              Insights
            </div>
            <div class="flex items-center gap-1">
              <div class="w-4 h-4 text-white">
                <i class="fa-solid fa-tag"></i>
              </div>
              <div class="text-white text-sm font-normal leading-tight">
                Engagement
              </div>
            </div>
          </div>
        </a>
      </div>
      <!-- Support Card -->
      <div class="flex-grow w-fit p-3 group">
        <a
          href="/support"
          class="w-full mx-auto bg-white group-hover:shadow-violet-400 transition duration-300 rounded-xl shadow-lg p-2 flex flex-col items-center justify-center"
        >
          <div class="flex justify-between items-center gap-5">
            <img
              class="w-80 h-auto rounded-xl shadow-lg mb-8"
              src="../../../assets/images/pexels-yan-krukau-8867482.jpg"
            />
            <div
              class="text-center text-slate-700 text-2xl font-normal leading-6 mb-4"
            >
              Support
            </div>
            <div
              class="text-center text-slate-500 text-base font-normal leading-snug mb-8 w-64"
            >
              Access tools, tips, and any other questions you might have about
              our platform. Help us improve your experience.
            </div>
          </div>
          <div
            class="bg-violet-400 w-full h-20 px-2 left-0 top-[422px] rounded-bl-lg rounded-br-lg justify-between items-center inline-flex"
          >
            <div class="text-white text-base font-normal leading-snug">
              Resources
            </div>
            <div class="flex items-center justify-evenly gap-1">
              <div class="w-4 h-4 text-white self-start">
                <i class="fa-solid fa-tag"></i>
              </div>
              <div
                class="text-white text-sm font-normal self-center leading-tight"
              >
                Assistance
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
    <!-- Available Surveys -->
    <div
      class="w-fit h-96 flex-col self-start justify-start items-start gap-2.5 inline-flex mr-3"
    >
      <div class="w-48 justify-between items-center inline-flex">
        <div class="text-black text-base font-normal">Surveys Available</div>
        <a
          href="/surveys"
          class="w-auto h-3.5 text-right text-neutral-400 text-xs font-normal hover:text-black transition duration-300"
        >
          See All
        </a>
      </div>
      <div class="flex flex-col gap-3 group">
        <a
          [routerLink]="['/individual-survey', 'monthly']"
          class="w-48 h-24 relative shadow rounded-lg"
          ><div
            class="w-48 h-24 left-0 top-0 absolute bg-violet-200 rounded-lg shadow-lg hover:bg-violet-400 transition duration-300"
          >
            <div
              class="left-[23px] top-[22px] absolute text-white text-xl font-semibold"
            >
              Monthly Survey
            </div>
            <div
              class="left-[23px] top-[64px] absolute text-white text-xs font-medium"
            >
              40 min.
            </div>
          </div>
          <!-- ... -->
        </a>
        <a
          [routerLink]="['/individual-survey', 'biannual']"
          class="w-48 h-24 relative shadow rounded-lg"
        >
          <div
            class="w-48 h-24 left-0 top-0 absolute bg-violet-200 rounded-lg shadow-lg hover:bg-violet-400 transition duration-300"
          >
            <div
              class="left-[23px] top-[22px] absolute text-white text-xl font-semibold"
            >
              Biannual Survey
            </div>
            <div
              class="left-[23px] top-[64px] absolute text-white text-xs font-medium"
            >
              12 min.
            </div>
          </div>
          <!-- ... -->
        </a>
        <a
          [routerLink]="['/individual-survey', 'weekly']"
          class="w-48 h-24 relative shadow rounded-lg"
        >
          <div
            class="w-48 h-24 left-0 top-0 absolute bg-violet-200 rounded-lg shadow-lg hover:bg-violet-400 transition duration-300"
          >
            <div
              class="left-[23px] top-[22px] absolute text-white text-xl font-semibold"
            >
              Weekly Survey
            </div>
            <div
              class="left-[23px] top-[64px] absolute text-white text-xs font-medium"
            >
              6 min.
            </div>
          </div>
          <!-- ... -->
        </a>
        <a
          [routerLink]="['/individual-survey', 'biannual']"
          class="w-48 h-24 relative shadow rounded-lg"
        >
          <div
            class="w-48 h-24 left-0 top-0 absolute bg-violet-200 rounded-lg shadow-lg hover:bg-violet-400 transition duration-300"
          >
            <div
              class="left-[23px] top-[22px] absolute text-white text-xl font-semibold"
            >
              Biannual Survey
            </div>
            <div
              class="left-[23px] top-[64px] absolute text-white text-xs font-medium"
            >
              30 min.
            </div>
          </div>
          <!-- ... -->
        </a>
      </div>
    </div>
  </div>
</div>
