<!-- top-navbar.component.html -->

<div
  class="ml-40 bg-white text-white h-12 p-4 flex justify-between items-center w-screen border-b border-gray-300 shadow-md fixed top-0 z-10"
>
  <!-- Search Bar -->
  <div>
    <input
      type="text"
      placeholder="Search"
      class="p-1 rounded-xl px-8 bg-gray-200 w-96 border-none shadow-sm text-black focus:outline-none focus:ring-1 focus:ring-violet-300 focus:border-transparent"
    />
    <i class="absolute left-7 top-3 text-gray-400">
      <i class="fas fa-search"></i>
    </i>
  </div>

  <div class="flex justify-between mr-44 items-center">
    <!-- Notifications Icon -->
    <div class="mr-4">
      <i class="fa-solid fa-bell text-slate-900"></i>
    </div>
    <!-- Profile Avatar -->
    <div>
      <div class="rounded-full overflow-hidden w-10 h-10">
        <img
          src="../../../assets/images/pexels-karolina-grabowska-5206931.jpg"
          alt="Profile Avatar"
          class="w-full h-full object-cover"
        />
      </div>
    </div>
  </div>
</div>
