<!-- individual-survey.component.html -->

<div class="w-full p-4 relative">
  <div class="container mx-auto my-8 flex flex-col justify-start gap-2">
    <div class="p-4 text-white bg-violet-400 w-full rounded-md">
      <h2 class="text-3xl font-bold">
        Healthcare Professionals Engagement Survey
      </h2>
    </div>

    <!-- Survey Progress Card -->
    <div class="mt-4 mr-4 self-end">
      <div
        class="flex flex-col items-center gap-1 w-80 h-20 p-2 bg-white shadow-md border-1 border-gray-300 rounded-md"
      >
        <h2 class="self-start font-semibold">Survey Progress</h2>
        <div class="bg-gray-200 w-full h-2 rounded-md">
          <!-- Adjust the inline width and background color dynamically based on the random progress percentage -->
          <div
            [style.width.%]="randomProgress"
            [ngClass]="getProgressBarColor(randomProgress)"
            class="w-full h-full rounded-md"
          ></div>
        </div>
        <span class="ml-2 self-end">{{ randomProgress }}%</span>
      </div>
    </div>

    <ng-container *ngFor="let surveyType of surveyTypes">
      <div
        class="mb-8"
        *ngIf="
          surveyType.name.toLowerCase() === selectedSurveyType.toLowerCase()
        "
      >
        <h3 class="text-xl font-semibold mb-2">{{ surveyType.name }} Survey</h3>

        <app-survey-form [surveyType]="surveyType"></app-survey-form>
      </div>
    </ng-container>
  </div>
</div>
