<!-- individual-survey.component.html -->

<div class="w-full p-4 relative">
  <!-- Survey Progress Card -->
  <div class="absolute top-0 right-0 mt-4 mr-4">
    <div class="flex items-center">
      <div class="bg-gray-300 w-20 h-8 rounded-full">
        <!-- Adjust the inline width style dynamically based on the random progress percentage -->
        <div
          [style.width.%]="randomProgress"
          class="bg-green-500 h-full rounded-full"
        ></div>
      </div>
      <span class="ml-2">{{ randomProgress }}%</span>
    </div>
  </div>

  <div class="container mx-auto my-8 flex flex-col justify-start gap-2">
    <div class="p-4 text-white bg-violet-400 w-full rounded-md">
      <h2 class="text-3xl font-bold">
        Healthcare Professionals Engagement Survey
      </h2>
    </div>

    <ng-container *ngFor="let surveyType of surveyTypes">
      <div
        class="mb-8"
        *ngIf="
          surveyType.name.toLowerCase() === selectedSurveyType.toLowerCase()
        "
      >
        <h3 class="text-xl font-semibold mb-2">{{ surveyType.name }} Survey</h3>

        <app-survey-form [surveyType]="surveyType"></app-survey-form>
      </div>
    </ng-container>
  </div>
</div>
