<!-- desktop-dashboard.component.html -->

<div class="welcome-card">
  <div
    class="card p-4 rounded-md shadow-lg shadow-gray-100 flex justify-start items-center gap-4"
  >
    <div class="user-image w-28 rounded-lg">
      <img
        class="w-full h-auto rounded-lg"
        src="../../../assets/images/pexels-karolina-grabowska-5206931.jpg"
        alt=""
      />
    </div>
    <div class="welcome-message">
      <div class="welcome-greeting flex justify-start items-center gap-2">
        <h2 class="text-2xl font-bold" style="color: #9a9aff">Welkom Terug</h2>
        <div class="welcome-user">
          <h2 class="text-2xl font-bold text-white">User</h2>
        </div>
      </div>

      <div
        class="flower-count flex justify-between items-center gap-2 text-white"
      >
        <p class="text-lg w-52">Je hebt bloemenbadges verdiend!</p>

        <div class="welcome-image w-28 flex items-center justify-center">
          <span
            id="rewardUnlocked"
            class="absolute text-6xl text-violet-400 font-bold"
            >{{ flowerCount }}</span
          >
          <ng-container *ngIf="randomBadge">
            <img
              class="w-full h-auto"
              [src]="randomBadge.image"
              alt="{{ randomBadge.name }}"
            />
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</div>
