<!-- onboarding.component.html -->

<div class="flex items-center justify-between h-screen w-screen mt-0 ml-0">
  <!-- Left side with big image -->
  <div class="flex-shrink-0 self-start">
    <img
      src="../../../assets/images/Onboarding-Vector.jpg"
      alt="Onboarding Image"
      class="w-auto h-screen"
    />
  </div>

  <!-- Right side with title, text, and button -->
  <div class="w-fit px-10 self-center mr-60 flex flex-col gap-5">
    <h1 class="text-4xl font-bold mb-4">
      Geef Kracht aan Verandering, Vorm Morgen
    </h1>
    <p class="text-lg text-gray-600 w-fit">
      🌟 Welkom bij Gezamenlijke Inspanningen, waar jouw stem de toekomst van de
      gezondheidszorg vormgeeft! 🌟
      <br />
      <br />
      Als zorgprofessional zijn jouw inzichten van onschatbare waarde.
      Gezamenlijke Inspanningen is een baanbrekend initiatief dat is ontworpen
      om het effect van personeelstekorten op jouw welzijn en het
      gezondheidssysteem als geheel te begrijpen. Doe met ons mee op deze reis
      om een verschil te maken!
    </p>

    <!-- Button to navigate to the next onboarding page -->
    <button
      class="bg-violet-400 text-white font-bold py-2 px-6 rounded-md mt-4 w-fit"
      (click)="navigateToNextPage()"
    >
      Next
    </button>
  </div>
</div>
