<div
  class="sidebar flex flex-col w-40 h-full bg-sky-300 text-white fixed top-0 z-10"
>
  <!-- Logo -->
  <a
    class="p-4 mb-4 text-center justify-center flex cursor-pointer"
    routerLink="/onboarding1"
  >
    <img
      src="../../../assets/images/brandmark-design-removebg-preview.png"
      alt="Logo"
      class="w-20 h-auto items-center"
    />
  </a>

  <!-- Navigation Buttons -->
  <div class="flex-grow flex flex-col justify-start">
    <a
      routerLink="../homepage/"
      class="flex items-start ml-3 justify-start gap-2 mb-4 group relative hover:text-violet-400 cursor-pointer"
    >
      <span
        class="text-2xl group-hover:before:bg-violet-400 before:absolute before:inset-y-0 before:right-0 before:w-2 before:content-['']"
      ></span>
      <span class="text-xl self-end"><i class="fas fa-table-columns"></i></span>
      <span class="mt-2 text-base">Dashboard</span>
    </a>
    <a
      routerLink="../surveys/"
      class="flex items-center ml-3 justify-start gap-2 mb-4 group relative hover:text-violet-400 cursor-pointer"
    >
      <span
        class="text-2xl group-hover:before:bg-violet-400 before:absolute before:inset-y-0 before:right-0 before:w-2 before:content-['']"
      ></span>
      <span class="text-xl self-end"
        ><i class="fas fa-clipboard-check"></i
      ></span>
      <span class="mt-2 text-base">Surveys</span>
    </a>
    <a
      routerLink="../results/"
      class="flex items-center ml-3 justify-start gap-2 mb-4 group relative hover:text-violet-400 cursor-pointer"
    >
      <span
        class="text-2xl group-hover:before:bg-violet-400 before:absolute before:inset-y-0 before:right-0 before:w-2 before:content-['']"
      ></span>
      <span class="text-xl self-end"><i class="fas fa-poll"></i></span>
      <span class="mt-2 text-base">Results</span>
    </a>
    <a
      routerLink="../news/"
      class="flex items-center ml-3 justify-start gap-2 mb-4 group relative hover:text-violet-400 cursor-pointer"
    >
      <span
        class="text-2xl group-hover:before:bg-violet-400 before:absolute before:inset-y-0 before:right-0 before:w-2 before:content-['']"
      ></span>
      <span class="text-xl self-end"><i class="fas fa-newspaper"></i></span>
      <span class="mt-2 text-base">News</span>
    </a>
    <a
      routerLink="../support/"
      class="flex items-center ml-3 justify-start gap-2 mb-4 group relative hover:text-violet-400 cursor-pointer"
    >
      <span
        class="text-2xl group-hover:before:bg-violet-400 before:absolute before:inset-y-0 before:right-0 before:w-2 before:content-['']"
      ></span>
      <span class="text-xl self-end"><i class="fas fa-life-ring"></i></span>
      <span class="mt-2 text-base">Support</span>
    </a>
  </div>

  <!-- Logout Button -->
  <a
    routerLink="../login/"
    class="flex items-start ml-3 justify-start gap-2 mb-4 group relative hover:text-violet-400 cursor-pointer"
  >
    <span
      class="text-2xl group-hover:before:bg-violet-400 before:absolute before:inset-y-0 before:right-0 before:w-2 before:content-['']"
    ></span>
    <span class="text-xl self-end"><i class="fas fa-sign-out-alt"></i></span>
    <span class="mt-2 text-base">Logout</span>
  </a>
</div>
