<!-- flowers.component.html -->

<div
  class="px-8 relative w-full h-full py-8 pb-80 flex flex-col justify-center items-center gap-4"
>
  <!-- Header -->
  <div class="px-4 w-full">
    <div class="p-4 text-white bg-violet-400 w-full rounded-md">
      <h2 class="text-3xl font-bold">Your Rewards</h2>
    </div>
  </div>

  <!-- Rewards -->
  <div class="w-full p-2 px-4 flex items-center justify-center">
    <div class="card rounded-md shadow-lg bg-sky-300 p-4 w-96">
      <p class="text-white">
        Deze plant heeft geholpen aan de
        <a routerLink="/results">maandelijkse vragenlijst.</a> De resultaten van
        het onderzoek worden nog besproken en het gevolg hiervan kun je later
        bij de plant zien.
      </p>
    </div>
  </div>

  <!-- Flower Grid -->
  <div
    class="flex justify-between items-center flex-wrap gap-8 w-full px-20 h-fit bg-contain bg-center py-10 rounded-md shadow-md"
    style="background-image: url('../../../assets/images/plants/garden.jpg')"
  >
    <div
      *ngFor="let flower of flowers"
      (mouseenter)="showModal(flower.id)"
      (mouseleave)="hideModal()"
    >
      <div class="relative">
        <div
          [id]="flower.id"
          class="flex-grow bg-transparent rounded-lg overflow-hidden flex flex-col justify-start items-center w-fit p-2"
        >
          <img
            [src]="flower.image"
            alt="{{ flower.name }} planted"
            class="w-32 h-auto object-cover"
          />
          <div class="w-full text-center flex items-center justify-center">
            <h3
              class="text-lg font-bold text-white bg-orange-900 w-44 rounded-b-lg p-2 py-4 shadow-md plant-pot"
              style="
                background-image: url('../../../assets/images/istockphoto-494640524-170667a.jpg');
              "
            >
              {{ flower.name }}
            </h3>
          </div>
        </div>
        <ng-container *ngIf="visibleFlowerId === flower.id">
          <div
            class="pop-up-container"
            [@popUpAnimation]="visibleFlowerId"
            (mouseenter)="setMouseOverPopup(true)"
            (mouseleave)="setMouseOverPopup(false)"
          >
            <div
              class="pop-up-content w-72 p-6 bg-green-700 h-72 rounded-lg rounded-tl-none shadow-xl flex flex-col justify-start items-center gap-4 text-center relative overflow-hidden"
            >
              <div class="flex justify-evenly items-center gap-2 w-fit">
                <img
                  [src]="flower.badge"
                  alt="{{ flower.name }}"
                  class="w-10 h-auto"
                />
                <h2 class="text-2xl font-bold text-violet-400">
                  {{ flower.name }}
                </h2>
              </div>
              <div
                class="text-white text-xs mb-2 popup-text flex flex-col justify-between items-center gap-2 self-center"
              >
                <h3
                  [innerHTML]="flower.question"
                  class="text-sm font-semibold flex justify-center items-center gap-2 self-start"
                ></h3>
                <p
                  [innerHTML]="flower.description || 'No description available'"
                ></p>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</div>
