/* flowers.component.css */

.pop-up-container {
    position: absolute;
    top: 135%;
    left: 65%;
    transform: translateY(-50%);
    z-index: 100;
}

@keyframes fadeInOut {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.pop-up-content {
    animation: fadeInOut 0.3s ease;
}

.pop-up-content.hidden {
    display: none;
}