<!-- support-page.component.html -->
<div class="p-8 flex flex-col gap-10 justify-start w-full">
  <div class="flex flex-col bg-sky-400 p-0 text-white rounded-md">
    <img
      src="../../../assets/images/support-bg.jpg"
      alt=""
      class="w-full h-full object-cover rounded-md"
    />
    <div
      class="w-fit absolute p-8 mt-24 ml-10 flex flex-col justify-between items-start gap-5"
    >
      <h1 class="text-4xl font-bold">Support Page</h1>
      <p class="w-2/3">
        Welcome to our support page. Find answers to common questions or use the
        search bar to get specific help.
      </p>

      <!-- Search Bar -->
      <div class="rounded-md w-fit flex">
        <div class="relative w-full">
          <input
            type="text"
            placeholder="Search"
            class="w-fit p-2 px-10 rounded-l-md border-none text-black focus:outline-none focus:ring-1 focus:ring-violet-300 focus:border-transparent"
          />
          <i class="absolute left-3 top-2 text-gray-400">
            <i class="fas fa-search"></i>
          </i>
        </div>
        <button class="w-fit rounded-r-lg bg-violet-400 py-2 px-6 text-white">
          Search
        </button>
      </div>

      <!-- Popular Questions -->
      <div class="mb-4 flex justify-start w-fit items-center">
        <h3 class="text-base font-bold mb-2">Popular:</h3>
        <div class="flex flex-wrap gap-4">
          <div class="p-2 rounded-md">
            <a
              routerLink="/support-answer"
              class="text-base mb-2 hover:underline hover:text-violet-300 transition duration-200"
              >How do I access the Surveys page?</a
            >
          </div>
          <div class="py-2 rounded-md">
            <p class="text-base mb-2">How often are survey results updated?</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Cards with Questions -->
  <div class="grid grid-cols-3 gap-8 self-center">
    <!-- Loop through Cards with Questions data -->
    <div
      *ngFor="let card of cardsData"
      class="bg-white py-6 px-4 rounded-md shadow-lg w-96 h-80 flex flex-col gap-4 items-center justify-center"
    >
      <div class="flex items-start self-start px-8 mb-2 justify-start">
        <!-- Use fontawesome icon dynamically -->
        <i
          class="w-10 h-10 mr-2 self-start text-white text-xl rounded-full flex items-center justify-center icon-bg"
          [ngStyle]="{ 'background-color': card.bgColor }"
          [ngClass]="card.icon"
        ></i>
        <h3 class="text-xl font-bold self-center">{{ card.title }}</h3>
      </div>
      <ul class="flex flex-col gap-2 p-2">
        <!-- Loop through Questions in each card -->
        <li
          routerLink="/support-answer"
          class="flex justify-start items-center gap-2 cursor-pointer hover:underline hover:text-violet-300 transition duration-200"
          *ngFor="let question of card.questions"
        >
          <i class="fa-solid fa-clipboard-question"></i>{{ question }}
        </li>
      </ul>
    </div>
  </div>
</div>
